---
import Anchor from "@/components/ui/Anchor.astro"
import HighlightText from "@/components/ui/HighlightText.astro"
import { jsonData } from "@/data"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Home">
	<header>
		<h1 class="text-4xl font-semibold">Hiii</h1>
	</header>
	<div>
		<p class="mb-3 text-pretty text-base text-zinc-900">
			I'm Jesus, a software developer from Colombia with over 2 years of
			experience dedicated to studying and practicing <HighlightText>web development</HighlightText>. My
			main focus is on <HighlightText>JavaScript</HighlightText> and <HighlightText>TypeScript</HighlightText>, and I excel in using
			technologies like <HighlightText>React</HighlightText>, <HighlightText>Astro</HighlightText>, and <HighlightText>Nest</HighlightText>. 
			<Anchor href={jsonData.pages.projects.url}>Check out my projects</Anchor>
			to see concrete examples of my work and skills.
		</p>
		<section class="flex gap-2">
			<h2 class="text-xl font-semibold">Skills</h2>
		</section>
	</div>
</Layout>
