---
import { Filters } from "@/components/ProjectFilters"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Home">
	<header>
		<h1 class="text-4xl font-semibold">Projects</h1>
	</header>
	<div>
		Projects, filters and search box
		<Filters client:load />
	</div>
</Layout>