---
import { Project } from "@/components/Project"
import { Filters } from "@/components/ProjectFilters"
import Layout from "@/layouts/Layout.astro"
import { projectsData } from '../data/user.data'
---

<Layout title="Home">
	<header class="flex items-center justify-between">
		<div>
			<h1 class="text-3xl font-semibold">Projects</h1>
			<span class="text-zinc-800">Check out my latest projects ;)</span>
		</div>
		<Filters client:load />
	</header>
	<div>
		<div class="flex flex-col gap-4 mt-2">
			<div class="grid grid-cols md:grid-cols-2 gap-2 flex-wrap">
				{
					projectsData.map((project) => (<Project data={project} className="[flex-basis:230px] flex-shrink-0" />))
				}
				{
					projectsData.map((project) => (<Project data={project} className="[flex-basis:230px] flex-shrink-0" />))
				}
				{
					projectsData.map((project) => (<Project data={project} className="[flex-basis:230px] flex-shrink-0" />))
				}
			</div>
		</div>
	</div>
</Layout>